
body {
    background-color: rgb(233, 230, 224) !important;
}

img {
    height: fit-content !important;
}
h1 {
    font-weight: bold !important;
}
.redondeo_imagen {
    border-radius: 10% !important;
}

.fondo_article {
    background-color: white !important;
}


/* Tengo que hacer esta clase así para hacerlo más específico ya que boostrap me estaba sobreescribiendo la mia en algún sitio que no he enecontrado*/
article.color_borde_article {
    border-color: black !important;
}

.ocupar_altura_boton {
    max-height: fit-content !important;
}

.ocupar_altura_parrafo {
    max-height: fit-content !important;
}

/* Cambio un poco la tonalidad del toggler de boostrap para que se vea mejor*/
.navbar-toggler {
    background-color: rgba(24, 77, 250, 0.959) !important;
}